.btn{
  background-color: white;
  border-style: solid;
  border-width: 1px 0.5px;
  border-color:  #e7e7e7;
  padding: 4px 10px;
  cursor: pointer;
}

.btn:disabled{
  color: #6c757d;;
}

.pre{
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.next{
  border-right-width: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.selected{
  background-color: #eee ;
}

.btn:hover{
  background: #8dc647;
  border-color: #8dc647;
  color: white;
}
